extends /modules/pug/blocks/ejercicios
block pug_javascript
    -
        let titulo = "Ejemplo 1",
            formato = ""
        let codepen_list = [
            "vYEPxPX",
            "BaybRKr",
        ]
        nej = 1 // <== EXERCISE NUMBER - REPLACE IT
block pug_styles
    +new_style(`../styles.css`)
block html_javascript
    +new_script(`../scripts.js`)
block pug_contenido
    +md_emb("01")
    +codepen(1)
    +codepen_url("jONXGLy",2,height_window=600)
//-
    p=String.raw`$$ x^5 $$`
    each url in codepen_list
        +codepen_url(url,`${codepen_list.indexOf(url)+1}`,height_window=600)

